	
/* index.html */
	#userinfolegend {
		font-size: 32px;
	}


/* schedules.html */
	#schedpagecontainer{
		margin-top: 25px;
	}
	#busybutton, #times, #days {
		margin-right: 10px;
		
		font-size: 125%;
		
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	}
	#busybutton{
		background: orange;
		color: white;
		padding: 5px;
	}
	
	#weekinhex{
		width: 40%;
	}